<div class="wrapper px-2 px-lg-5">
    <div class="row w-100 justify-content-between align-items-center">
        <div class="menu-section col-6">
            <div class="menu-item mr-0 mr-lg-5">
                <img src="../../../../assets/icons/bars-solid.svg" alt="">
                <span class="d-none d-lg-flex">Menu</span>
            </div>

            <div class="menu-item d-none d-lg-flex  mr-0 mr-lg-5">
                <img src="../../../../assets/icons/language-solid.svg" alt="">
                <span>Idioma</span>
            </div>

            <button class="warn-button d-none d-lg-flex">
                <div class="icon">
                    <img src="../../../../assets/icons/star-solid.svg" alt="">
                </div>
                INSIRA SEU CÓDIGO
            </button>

        </div>

        <div class="logo">
            <img src="../../../../assets/img/logo.png" alt="">
        </div>

        <div class="menu-section col-6 justify-content-end">
            <button class="warn-button  mr-0 mr-lg-5 btn d-none d-lg-flex">
                <div class="icon">
                    <img src="../../../../assets/icons/dollar-sign-solid.svg" alt="">
                </div>
                DEPOSITE AGORA
            </button>
            <div class="menu-item mr-0 mr-sm-4 mr-lg-5  ">
                <img src="../../../../assets/icons/sign-in-alt-solid.svg" alt="">
                <span>Entrar</span>
            </div>

            <div class="menu-item d-none d-sm-flex">
                <img src="../../../../assets/icons/user-plus-solid.svg" alt="">
                <span>Cadastrar</span>
            </div>


        </div>
    </div>
</div>