<div class="wrapper">

    <div class="title">TODOS</div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
    <div class="item">
        <div class="item-sec">
            <img src="../../../assets/img/flags/brazil.png" alt="">
            <span>BRASIL</span>
        </div>
        <div class="number">
            <span>15</span>
        </div>
    </div>
</div>