<div class="wrapper">
    <div class="row">
        <div class="leagues col-lg-2 d-none d-lg-flex">
            <div class="title">Campeonatos</div>
            <div class="app-leagues">
                <app-leagues></app-leagues>
            </div>
        </div>
        <div class="events col-lg-4">
            <div class="title">Eventos</div>
            <div class="app-leagues">
                <app-events></app-events>
            </div>
        </div>
        <div class="event-details col-lg-4 d-none d-lg-flex">
            <div class="title">.</div>
            <app-event-details></app-event-details>
        </div>
        <div class="coupom col-lg-2 d-none d-lg-flex">
            <div class="title">Cupom</div>
            <div class="app-leagues">
                <app-coupom></app-coupom>
            </div>
        </div>
    </div>
</div>