@font-face {
    font-family: "LogoFont";
    src: url("./assets/fonts/NEVERSAYDIE.ttf") format("opentype");
}
.logo {
    font-family: "LogoFont", Fallback, sans-serif !important;
}
:not(.logo) {
    font-family: "Lato", sans-serif;
}
